@font-face { font-family: "Press Start 2P"; src: url('PressStart2P-Regular.ttf'); }

html, body, pre, code, kbd, samp {
    font-family: roboto mono, monospace;
    background: url('manebg.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 0.9em;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh;
    height: 100svh;
    position: relative;
    box-sizing: border-box;
    padding-top: 50vh;
    padding-top: 50svh;
}
.logo-container {
    min-width: 240px;
    min-height: 240px;
}
.logo {
    background: url('snakepit_logo_square_small.png') no-repeat center center;
    background-color: #fff;
    padding: 133px;
}
.label {
    font-family: "Press Start 2P";
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 1px #000;
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.links {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 32px;
    text-align: center;
    z-index: 1;
}
a {
    color: white;
}
a:hover {
    color: white;
    /* text-decoration: none; */
}
.soundcloud {
    top: -18px;
    position: relative;
}
.blink_me {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}